@model List<VisitorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api Ziyaretçi Listesi</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Ülke</th>
        <th>Mail</th> 
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.VisitorId</td>
                    <td>@item.VisitorName</td>
                    <td>@item.VisitorSurname</td>
                    <td>@item.VisitorCity</td>
                    <td>@item.VisitorCountry</td>
                    <td>@item.VisitorMail</td>
                    <td><a href="/Admin/VisitorApi/DeleteVisitor/@item.VisitorId" class="btn btn-outline-danger">Sil</a></td>      
                    <td><a href="/Admin/VisitorApi/UpdateVisitor/@item.VisitorId" class="btn btn-outline-success">Güncelle</a></td>        
                </tr>
            }
</table>
<a href="/Admin/VisitorApi/AddVisitor" class="btn btn-outline-primary">Yeni Ziyaretçi Ekle</a>

